doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js")
    script.
        window.addEventListener('DOMContentLoaded', () => {
        const ctx = document.getElementById('myChart').getContext('2d');
        var s = !{stuff};
        s = s.sort(function(a,b){return new Date(b.timestamp) - new Date(a.timestamp)})
        console.log(s[0]);
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                //labels: s.map(ss=>new Date(ss.timestamp)).sort(), //dates
                datasets: [{
                    label: 'Conductivité du sol',
                    data: s.map(ss=>{return {x:ss.timestamp,y:ss.measures.conduct_SOIL}}), //Temp
                    backgroundColor: 'rgba(192, 150, 50, 0.2)',
                    borderColor: 'rgba(192, 150, 25, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Température du sol',
                    data: s.map(ss=>{return {x:ss.timestamp,y:ss.measures.temp_SOIL}}), //Temp
                    backgroundColor: 'rgba(192, 50, 50, 0.2)',
                    borderColor: 'rgba(192, 25, 25, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Humidité du sol',
                    data: s.map(ss=>{return {x:ss.timestamp,y:ss.measures.water_SOIL}}), //Temp
                    backgroundColor: 'rgba(0, 50, 120, 0.2)',
                    borderColor: 'rgba(0, 25, 120, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes:{
                        type:'time',
                        time: {
                            unit: 'minute',
                            displayFormats:{
                                'day' : 'YYYY MMM'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        })});
  body
    canvas#myChart
    a(href="../getEsp32Graph/my_name") Go to ESP32 graph (/my_name)
